.Routines {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  /*font-family: 'Palanquin Dark', sans-serif;*/
}

img {
  display: inline-block !important;
}

.button-group {
  padding: 5px;
}

.RatingExampleHeart {
  display: inline-block !important;
}
