.App {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;;
}

.App-logo {
  animation: App-logo-spin infinite 15s linear;
  height: 100px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.navbar__title, .navbar__right {
  color: white;
}

.navbar {
  background-color: #222;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
